* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.countdown {
    margin: 60px auto;
    width: 960px;
    text-align: center;
}

.timer {
    font-size: 96px;
}

.date {
    font-size: 48px;
}